In [22]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [23]:
data=pd.read_csv('iris2.csv')

In [24]:
data.shape

(150, 6)

In [25]:
data.head(2)

   x0   x1   x2   x3   x4         type
0   1  5.1  3.5  1.4  0.2  Iris-setosa
1   1  4.9  3.0  1.4  0.2  Iris-setosa

In [26]:
from sklearn.preprocessing import LabelEncoder

In [27]:
enc=LabelEncoder()

In [28]:
data.type=enc.fit_transform(data.type)

In [29]:
data.head(2)

   x0   x1   x2   x3   x4  type
0   1  5.1  3.5  1.4  0.2     0
1   1  4.9  3.0  1.4  0.2     0

In [30]:
x=data.iloc[:,:-1]

In [31]:
y=data.type

In [32]:
from sklearn.model_selection import train_test_split

In [33]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.3,random_state=20)

In [34]:
from sklearn.linear_model import LogisticRegression

In [35]:
model=LogisticRegression(random_state=10)

In [36]:
model.fit(x_train,y_train)

/home/dell/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/dell/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=10, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [37]:
pred=model.predict(x_test)

In [38]:
from sklearn.metrics import accuracy_score,confusion_matrix

In [39]:
accuracy_score(y_test,pred)

0.8888888888888888

In [40]:
confusion_matrix(y_test,pred)

array([[13,  0,  0],
       [ 0, 16,  2],
       [ 0,  3, 11]])

In [41]:
pd.crosstab(y_test,pred)

col_0   0   1   2
type
0      13   0   0
1       0  16   2
2       0   3  11